.App {
  text-align: center;
}

.App-header {
  padding: 50px;
  color: #fff;
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.App-title {
  font-size: 32px;
  margin: 0;
}